<template>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li>
                    </li>
                </ul>
            </nav>
            <p class="copyright pull-right">
                Copyright @ {{ $appName }}
            </p>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "footer-nav"
    }
</script>

<style scoped>

</style>