<template>
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <b class="caret hidden-lg hidden-md"></b>
                            <p class="hidden-lg hidden-md">
                                5 Notifications
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu" v-if="$store.store.notifications.length > 0">
                            <li v-for="notification in $store.notifications"><a href="#">Notification 1</a></li>
                        </ul>
                    </li>

                    <li>
                        <button class="btn btn-info" v-on:click="$utils.goToPage($router, 'add_node', {})">Add Node</button>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a v-on:click.stop.prevent="$utils.goToPage($router, 'account', {})">
                            <p><i class="fa fa-user"></i> {{ this.user.name }}</p>
                        </a>
                    </li>
                    <li>
                        <a  v-on:click.stop.prevent="logout()">
                            <p>Log out</p>
                        </a>
                    </li>
                    <li class="separator hidden-lg"></li>
                </ul>
            </div>
        </div>
    </nav>


</template>

<script>
    export default {
        name: "nav-bar",
        data() {
            return {
                user: this.$store.store.user()
            }
        },
        methods:{
            logout:function(){
                this.$auth.logout(() => {
                    this.$utils.goToPage(this.$router, 'login', {});
                });
            }
        }
    }
</script>

<style scoped>

</style>