<template>
    <div class="sidebar" data-color="servly-color">
        <div class="sidebar-wrapper">
            <div class="logo" @click="goToPage('dashboard', {})">
                <a class="simple-text">
                    {{ $appName }}
                </a>
            </div>

            <ul class="nav">
                <li v-bind:class="this.$route.name == 'dashboard' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('dashboard', {})">
                        <i class="fa fa-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li v-bind:class="this.$route.name == 'nodes' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('nodes', {})">
                        <i class="fa fa-desktop"></i>
                        <p>Monitor Nodes</p>
                    </a>
                </li>
                <li v-bind:class="this.$route.name == 'account' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('account', {})">
                        <i class="fa fa-user"></i>
                        <p>Account</p>
                    </a>
                </li>
                <hr />
                <li v-bind:class="this.$route.name == 'download_client' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('download_client', {})">
                        <i class="fa fa-desktop"></i>
                        <p>Client Download</p>
                    </a>
                </li>

            </ul>

            <hr v-if="isAdmin" />
            <ul class="nav" v-if="isAdmin" >
                <li><h4>Admin Area</h4></li>
                <li  v-bind:class="this.$route.name == 'users' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('users', {})">
                        <i class="fa fa-users"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li  v-bind:class="this.$route.name == 'active_services' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('active_services', {})">
                        <i class="fa fa-sliders"></i>
                        <p>Active Services</p>
                    </a>
                </li>
                <li  v-bind:class="this.$route.name == 'application_types' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('application_types', {})">
                        <i class="fa fa-hdd-o"></i>
                        <p>Application Types</p>
                    </a>
                </li>
                <li  v-bind:class="this.$route.name == 'data_processors' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('data_processors', {})">
                        <i class="fa fa-terminal"></i>
                        <p>Data Processors</p>
                    </a>
                </li>


                <li  v-bind:class="this.$route.name == 'client_software' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('client_software', {})">
                        <i class="fa fa-share"></i>
                        <p>Clients Software</p>
                    </a>
                </li>
                <li  v-bind:class="this.$route.name == 'users' ? 'active' : ''">
                    <a v-on:click.stop.prevent="goToPage('users', {})">
                        <i class="fa fa-money"></i>
                        <p>Subscriptions</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</template>

<script>
    export default {
        name: "side-bar",
        data() {
            return {
                isAdmin: false
            }
        },
        mounted(){
            if(this.$auth.getUser().is_admin)
                this.isAdmin = true;
        },
        methods: {
            goToPage:function(page, params){
                this.$router.push({name: page, params: params});
            }
        }
    }
</script>

<style scoped>

</style>