

<template>
    <div>
        <svg version="1.1" id="Layer" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
            <circle class="ring"
                    fill="none"
                    stroke="#eeeeee"
                    stroke-width="8"
                    stroke-miterlimit="10" cx="60" cy="60" r="50"/>
            <text x="35" y="60" font-family="Verdana" font-size="1em" :id="'percentageValue' + id">
                {{ valueToShow }} {{ metric }}
            </text>
            <circle :id="'percentageNeedle' + id" class="percentage" fill="none"
                    :stroke="getColor()"
                    stroke-width="8"
                    stroke-miterlimit="10"
                    cx="60"
                    cy="60"
                    r="50"/>
        </svg>
    </div>
</template>

<script>
    export default {
        name: "speedometer",
        props : ['percentage', 'metric', 'id', 'valueToShow'],
        data() {
            return {
                value : this.percentage,
                needle :null,
                percentageField : null,
                colors : [
                    '#2ab27b',
                    '#cbb956',
                    '#bf5329'
                ]
            }
        },

        mounted() {
            this.speed();
        },

        watch : {
            percentage: function(){
               this.speed();
            }
        },

        methods: {
            getColor:function()
            {
                if(this.percentage < 50)
                {
                    return this.colors[0];
                }
                if(this.percentage < 80)
                {
                    return this.colors[1];
                }
                else {
                    return this.colors[2];
                }
            },
            speed: function(){
                if(this.needle == null) {
                    this.needle = document.getElementById("percentageNeedle" + this.id)
                    this.percentageField = document.getElementById("percentageValue" + this.id)
                }

                //this.percentageField.style.transform = "rotate(-90deg)";

                this.value = this.percentage;
                var r = 50;
                var c = Math.PI*(r*2);

                if (this.value < 0) { this.value = 0;}
                if (this.value > 100) { this.value = 100;}

                var pct = ((100 - this.value)/100)*c;

                this.needle.style["stroke-dashoffset"] = pct;
            }
        },

        components: {

        }
    }
</script>