<template>
    <div>

        <div class="row" v-if="availableServices.length > 0">
            <h6>Available Services <small class="text-danger">* Required</small></h6>

            <ul class="list-group">
                <li class="list-group-item" v-for="s in availableServices" v-on:click="addService(s.identifier)">{{ s.name }}</li>
            </ul>
        </div>

        <div class="row">
            <h6>Active Services <small class="text-danger">* Required</small></h6>

            <ul class="list-group">
                <li class="list-group-item" v-for="service in applicationServices">
                    {{ service }}
                    <i class="fa fa-times" v-on:click="removeService(service)"></i>
                </li>

            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "active-services",
        props: ['application'],
        data() {
            return {
                availableServices : [],
                applicationServices : this.application.active_services,
                allServices : []
            }
        },
        mounted(){
            this.$services.available_services.list((available_services) => {
                this.availableServices = available_services;
                this.allServices = available_services;

                this.availableServices = this._availableServices();
            });
        },

        methods: {
            _availableServices :function(){
                var avS = [];
                for(var i = 0; i < this.allServices.length; i++)
                {
                    if(this.applicationServices.indexOf(this.allServices[i].identifier) === -1)
                        avS.push(this.allServices[i]);
                }

                return avS;
            },

            addService: function(identifier){
                this.applicationServices.push(identifier);
                var avS = [];
                for(var i = 0; i < this.availableServices.length; i++)
                {
                    if(this.availableServices[i].identifier != identifier)
                        avS.push(this.availableServices[i]);
                }
                this.availableServices = avS;

                this.updateServices();
            },

            removeService : function(service) {
                var avS = [];
                for(var i = 0; i < this.applicationServices.length; i++)
                {
                    if(this.applicationServices[i] != service) avS.push(this.applicationServices[i]);
                }
                this.applicationServices = avS;

                this.availableServices = this._availableServices();

                this.updateServices();
            },

            updateServices : function() {
                this.$emit('services_updated', this.applicationServices);
            }
        }
    }
</script>

<style scoped>

</style>