<template>
    <div>
        <h6>{{title}}</h6>

        <ul class="list-group">
            <li class="list-group-item" v-for="f in application.filters[filter_name]">
                {{ f }}
                <div class="text-right">
                    <button class="btn btn-xs btn-danger text-right" v-on:click="remove(f)">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "app-filters",
        props: ['application', 'filter_name', 'title'],

        methods:{
            remove: function(f) {
                console.log(f);
                this.$emit('remove',{"filter_name":this.filter_name, "data": f});
            }
        }
    }
</script>

<style scoped>

</style>