<template>
    <div class="row">
        <div class="col-md-6">
            <h6>Log Syntax (Regex):</h6>
            <textarea class="form-control" v-model="application.regex" rows="3"/>
        </div>
        <div class="col-md-6">

            <h6>Test your regex:
                <i v-if="valid_regex != null" v-bind:class="! valid_regex ? 'fa fa-times text-danger'
                                : 'fa fa-check text-success'"></i></h6>
            <textarea class="form-control" v-model="testing_regex" rows="3" />

            <button class="btn btn-success btn-sm" v-on:click="validateRegex">Test !</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "application-regex",
        props:['application'],
        data(){
            return {
                testing_regex: "",
                valid_regex: null,
            }
        },


        methods: {
            validateRegex: function () {
                try{
                    var reg = new RegExp("/" + this.application.regex + "/", "i");
                    this.valid_regex = reg.test(this.testing_regex);
                } catch(e) {
                    this.valid_regex = false;
                }
            }
        },
    }
</script>

<style scoped>

</style>