<template>
    <div class="container-fluid" v-if="application != null">
        <h4>{{ application.name }} - Logs</h4>

        <div class="row">
            <div class="col-md-11">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" v-model="query" class="form-control" placeholder="Search"/>
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" v-on:click="filter()" class="btn btn-success">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>App</th>
                        <th>Log Type</th>
                        <th>Class</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="log in logs">
                        <td>{{ log.app }}</td>
                        <td>{{ log.log_type }}</td>
                        <td>{{ log.class }}</td>
                        <td>{{ log.date }} {{log.time}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" v-if="totalPages != -1 && logs.length > 0">
            <div class="col-md-3">
                <input type="number" v-model="currentPage" v-on:change="changePage()"/>
                of {{ totalPages }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "app-logs",

        data() {
            return {
                logs: [],
                application: null,
                currentPage: 1,
                totalPages: -1,
                query: ""
            }
        },

        mounted() {
            this.$services.applications.get(this.$route.params.id, (application) => {
                this.application = application;
            });
            this.$services.applications.getLogs(this.$route.params.id, this.currentPage, null, (logs) => {
                this.logs = logs.data;
                this.totalPages = logs.last_page;
            });
        },

        methods: {
            filter: function () {
                this.currentPage = 1;

                this.$services.applications.getLogs(this.$route.params.id, this.currentPage, this.query, (logs) => {
                    this.logs = logs.data;
                });
            },
            changePage: function () {
                this.$services.applications.getLogs(this.$route.params.id, this.currentPage, this.query, (logs) => {
                    this.logs = logs.data;
                });

            }
        }
    }
</script>

<style scoped>

</style>