<template>
    <div class="card" v-on:click="onClickMethod()">
        <div class="header">
            <h4 class="title text-warning">Live Logs</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <p class="category text-info">Logs Type Usage</p>
                    <p class="text-muted">
                        <bar-chart :chartData="logsType" :options="options"></bar-chart>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">Logs Received</p>
                    <p class="text-muted">
                        <line-chart :chartData="perSecondData" :options="options"></line-chart>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BarChart from '../charts/BarChart'
    import LineChart from '../charts/LineChart'

    export default {
        name: "live-logs",
        props : ['application', 'logs'],

        data () {
            return {
                updated: false,
                logsType : {
                    labels: [],
                    datasets: [
                        {
                            label: 'Logs Type',
                            backgroundColor: this.$configs.CHARTS.COLORS.GREEN,
                            data: []
                        }
                    ]
                },
                perSecondData : {
                    labels: [],
                    datasets: [
                        {
                            label: 'Logs Received',
                            backgroundColor: this.$configs.CHARTS.COLORS.BLUE,
                            data: []
                        }
                    ]
                },
                options:{responsive: true, maintainAspectRatio: false},
                currentDataLength : 0,
                received : []
            }
        },

        mounted() {
            var channel = this.$configs.SOCKET_CHANNELS.LOG_MONITOR(this.$store.store.user, this.application.id);
            this.$socketIO.on(channel, this.updateMonitorInfo);

            this.perSecondMonitor();
        },
        methods: {
            updateLogs : function() {
                var labels = [];
                var data = [];

                for(var i = 0; i < this.logs.length; i++) {
                    if(labels.indexOf(this.logs[i].log_type) === -1) {
                        labels.push(this.logs[i].log_type);
                        data.push(this.logs[i].counter);
                    }
                }

            },

            updateMonitorInfo : function(msgs) {
                this.received = this.received.concat(msgs);

                msgs.forEach((msg) => {
                    var index = this.logsType.labels.indexOf(msg.log_type);

                    if(index !== -1) {
                        this.logsType.datasets[0].data[index] = this.logsType.datasets[0].data[index]+1;
                    } else {
                        this.logsType.labels.push(msg.log_type);
                        this.logsType.datasets[0].data.push(0);
                    }
                });

                this.logsType = this.updateProps(this.logsType);
            },

            perSecondMonitor : function() {
                if(this.logs != null && ! this.updated) {
                    this.updateLogs();
                    this.updated = true;
                }

                var time = this.$utils.currentTimeString();

                this.perSecondData.labels.push(time);
                this.perSecondData.datasets[0].data.push(this.received.length);
                this.received = [];
                this.currentDataLength++;
                this.shiftData();

                this.perSecondData = this.updateProps(this.perSecondData);


                setTimeout(this.perSecondMonitor, 1000);
            },


            shiftData: function () {
                if(this.currentDataLength > this.$configs.CHARTS.MAX_SHOWING)
                {
                    this.perSecondData.labels.shift();
                    this.perSecondData.datasets[0].data.shift();
                }
            },

            updateProps : function(data){
                return {
                    labels : data.labels,
                    datasets : data.datasets
                }
            }
        },
        components: {
            BarChart,
            LineChart
        }
    }
</script>

<style scoped>

</style>