<template>
    <div>
        <nav-bar></nav-bar>

        <a name="about"></a>
        <div class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>{{ $appName }}</h1>
                            <h3>Monitor server and applications</h3>
                            <hr class="intro-divider">
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <a v-on:click.stop.prevent="$utils.goToPage($router, 'login', {})" class="btn btn-primary btn-lg">
                                        <i class="fa fa-user"></i> <span class="network-name">Login</span>
                                    </a>
                                </li>
                                <li>
                                    <a v-on:click.stop.prevent="$utils.goToPage($router, 'register', {})" class="btn btn-primary btn-lg">
                                        <i class="fa fa-users"></i> <span class="network-name">Register</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>


        <a  name="services"></a>
        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="row">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Monitor Server</h2>
                            <p class="lead">
                                Monitor all your servers health, CPU and Memory usage on a single place and with an easy to use and intuitive interface!
                            </p>
                        </div>
                        <div class="row">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Monitor Applications</h2>
                            <p class="lead">
                                Not only monitor servers but also applications deployed inside them!
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <div class="row">
                            <br />
                            <br />
                            <br />
                            <img class="img-responsive" src="img/application-monitor.png" alt="">
                        </div>
                    </div>
                </div>
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">

                    </div>
                </div>
            </div>
            <!-- /.container -->

        </div>


        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Real-time monitor</h2>
                        <p class="lead">Monitor your applications and servers on a real time basis by upgrading your account!</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="img/server-monitor.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>

        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Get notified!</h2>
                        <p class="lead">Do not let anything anything escape, be notified when something goes wrong!!</p>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 col-sm-6">
                        <img class="img-responsive" src="img/get-notified.png" alt="">
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>

        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Pricing</h1><br/>
                </div>
            </div>


            <div class="row flex-items-xs-middle flex-items-xs-center">
                <div class="col-xs-12 col-lg-4">
                    <div class="price-card text-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">$</span>0<span class="period">/month</span></h3>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">
                                Free Plan
                            </h4>
                            <ul class="list-group">
                                <li class="list-group-item">Up to 2 servers <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">Up to 5 applications <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">Real time monitor <i class="fa fa-times text-danger"></i></li>
                                <li class="list-group-item">Notifications <i class="fa fa-times text-danger"></i></li>
                                <li class="list-group-item">24/7 Support System <i class="fa fa-check text-success"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="price-card text-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">$</span>10<span class="period">/month</span></h3>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">
                                Silver Plan
                            </h4>
                            <ul class="list-group">
                                <li class="list-group-item">Up to 10 servers <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">Up to 40 applications <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">Real time monitor <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">Notifications <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">24/7 Support System <i class="fa fa-check text-success"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="price-card text-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">$</span>20<span class="period">/month</span></h3>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">
                                Premium Plan
                            </h4>
                            <ul class="list-group">
                                <li class="list-group-item"><span class="text-success"><b>Unlimited</b></span> servers <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item"><span class="text-success"><b>Unlimited</b></span> applications <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">Real time monitor <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">Notifications <i class="fa fa-check text-success"></i></li>
                                <li class="list-group-item">24/7 Support System <i class="fa fa-check text-success"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="/login" class="btn btn-lg btn-success">Start now!</a>
                </div>
            </div>
        </div>

        <hr style="margin-top: 30px;"/>


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#about">Login</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#services">Register</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; {{$appName}} 2018. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</template>

<script>
    import NavBar from './NavBar'

    export default {
        name: "front-page",

        components:{
            NavBar
        }
    }
</script>

<style scoped>

</style>