<template>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav navbar-blue" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand topnav navbar-color" href="/">
                    <label class="navbar-color">{{ $appName }}</label>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a v-on:click.stop.prevent="$utils.goToPage($router, 'login', {})">
                            <p class="navbar-color"><i class="fa fa-user"></i> Login</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</template>

<script>
    export default {
        name: "nav-bar"
    }
</script>

<style scoped>

</style>