<template>
    <div>
        <nav-bar></nav-bar>

        <div class="container-fluid" style="margin-top: 15%;">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Login</h4>
                        </div>
                        <div class="content">
                            <form v-on:submit.prevent="login">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Name" v-model="user.name">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Email" v-model="user.email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Password" v-model="user.password">
                                </div>
                                <div class="row text-center">
                                    <button type="submit" class="btn btn-info btn-fill">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import NavBar from './NavBar'
    import auth from '../../auth'

    export default {
        data() {
            return {
                user: {
                    name: "",
                    email: "",
                    password: ""
                },
                error: null
            }
        },
        methods: {
            login : function(){
                auth.register(this.user, this.handleRegisterResult);
            },

            handleRegisterResult : function (response) {

                if(response.status == 400) {
                    this.error = response.body.hint;
                    return;
                }

                if(response.status == 401)
                {
                    this.error = response.body.message;
                    return;
                }

                this.$utils.goToPage(this.$router, 'login', {});
            },

        },
        components:{
            NavBar
        }
    }
</script>

<style scoped>

</style>