<template>
    <div class="card" v-if="user != null">
        <div class="header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="title text-warning">{{ user.name }}</h4>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <p class="category text-info">Email Address</p>
                    <p class="text-muted">
                        {{ user.email }}
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">
                        # nodes
                    </p>
                    <p class="text-muted">{{user.nodes.length}}</p>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">
                        Client Id
                    </p>
                    <p class="text-muted">{{ user.client_id }}</p>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">
                        Client Secret
                    </p>
                    <p class="text-muted">{{ user.client_secret }}</p>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">Is Active</p>
                    <p class="text-muted">
                        {{ isActive }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "user-info-box",
        props: ['user', 'isActive'],
        data() {
            return {
                editing: false,
                status: {}
            }
        },

        mounted() {

        },
        methods: {

        }
    }
</script>

<style scoped>

</style>