/*
 * Start Bootstrap - Landing Page (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body,
html {
    width: 100%;
    height: 100%;
  background: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: #00BFA5;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.navbar-blue{
    background: $navbar-landing-page;
}

.navbar-color{
    color:white;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #fff;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #fff;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

p.copyright {
    margin: 15px 0 0;
}

// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Varibles
$main-font: 'Roboto',sans-serif;
$primary-color: #57e2b2;
$light-gray: #f8f8f8;
$main-font-color: #808080;
$main-font-weight: 300;

.price-card {
    border: 1px;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 2.25rem 0;
    position: relative;
    will-change:transform;

    margin-bottom: 4rem;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 5px;
        background-color: $primary-color;
        transition: 0.5s;
    }

    &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);

        &:after {
            width: 100%;
        }

    }
    & .card-header {
        background-color: white;
        padding-left: 2rem;
        border-bottom: 0px;
    }
    & .card-title {
        margin-bottom: 1rem;
    }
    & .card-block {
        padding-top: 0;
    }
    & .list-group-item {
        border: 0px;
        padding: .25rem;
        color: $main-font-color;
        font-weight: $main-font-weight;
    }
}

// Price
.display-2 {
    font-size: 7rem;
    letter-spacing: -.5rem;
    & .currency {
        font-size: 2.75rem;
        position: relative;
        font-weight: $main-font-weight + 100;
        top: -45px;
        letter-spacing: 0px;
    }
    & .period {
        font-size: 1rem;
        color: lighten($main-font-color, 20%);
        letter-spacing: 0px;
    }
}

// Buttons
.btn {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: $main-font-weight + 200;
    border-radius: 0;
    padding: .75rem 1.25rem;
    letter-spacing: 1px;
}

.btn-gradient {
    background-color: #f2f2f2;
    transition: background .3s ease-in-out;

    &:hover {
        color: white;
        background-color: $primary-color;
    }
}