#Layer1 {
  width: 100%;
  //transform: rotate(90deg);
}
.ring {
  stroke-dasharray:314;
  stroke-dashoffset: 0;
}
.percentage {
  stroke-dasharray: 314;
  stroke-dashoffset: 0;
  animation: dash 1s linear infinite;
}

