<template>
    <div class="row">
        <div class="col-md-8 card">
            <div class="header">
                <h4 class="title">My Account</h4>
            </div>
            <div class="content">
                <div class="alert-danger alert" v-if="response.error!=null">
                    {{ response.error }}
                </div>
                <div class="alert-success alert" v-if="response.success!=null">
                    {{ response.success }}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Username"
                                   v-model="user.name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control" placeholder="Email"
                                   v-model="user.email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password"
                                   v-model="user.password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Client ID</label>
                            <input type="text" class="form-control" disabled v-model="user.client_id">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Client Secret</label>
                            <input type="text" class="form-control" disabled
                                   v-model="user.client_secret">
                        </div>
                    </div>
                </div>

                <button class="btn btn-info btn-fill pull-right" @click="updateUser">Update Profile</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "my-account-basic-info",
        data() {
            return {
                user : this.$store.store.user(),
                response : {
                    error : null,
                    success: null
                }
            }
        },
        methods: {
            updateUser : function() {
                this.$services.users.update(this.user, (response) => {
                    if(response.status != 200 && response.status != 201)
                    {
                        this.response.error = 'An error occurred.';
                        return ;
                    }

                    this.response.success = 'User account updated.';

                    this.$services.users.updateLocalMe((u) => {});
                });
            }
        }
    }
</script>

<style scoped>

</style>