<template>
    <div class="row">
        <div class="col-md-6 card" v-if="! subscribing">
            <h3>Subscription</h3>

            <div class="row">
                <div class="col-md-6">
                    <label>Current: </label> {{ userSubscription }}
                </div>
            </div>
            <hr/>
            <form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                <br>
                <div class="alert alert-danger" v-if="error != null">
                    {{ error }}
                </div>

                <div class='form-row'>
                    <div class='form-group required'>
                        <label class='control-label'>Subscription</label>
                        <select class="form-control" v-model="selectedSubscription">
                            <option v-for="subscription in Object.keys(subscriptionsAvailable)" :value="subscription">{{ subscription + ' - ' + subscriptionsAvailable[subscription] }}</option>
                        </select>
                    </div>
                </div>
                <div v-if="$store.store.user.card_last_four != null">
                    <div class='row'>
                        <div class="col-md-8">
                            <div class='form-group required'>
                                <input class='form-control' size='4' type='text' :value="'XXXX XXXX XXXX ' + $store.store.user.card_last_four">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-warning" v-on:click="useAnotherCard">Use another card</button>
                        </div>
                    </div>
                </div>
                <div v-if="$store.store.user.card_last_four == null">
                    <div class='form-row'>
                        <div class='form-group required'>
                            <label class='control-label'>Name on Card</label>
                            <input class='form-control' size='4' type='text' v-model="card.name">
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='form-group required'>
                            <label class='control-label'>Billing Address</label>
                            <input autocomplete='off' class='form-control' size='20' type='text' v-model="client.billing_address">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class='form-group required'>
                                <label class='control-label'>Card Number</label>
                                <input autocomplete='off' class='form-control card-number' size='20' type='text' placeholder="Card number" v-model="card.number">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class='form-group expiration required'>
                                <label class='control-label'>Month</label>
                                <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'  v-model="card.exp_month">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class='form-group expiration required'>
                                <label class='control-label'>Year</label>
                                <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text' v-model="card.exp_year">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class='form-group cvc required'>
                                <label class='control-label'>CVC</label>
                                <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text'  v-model="card.cvc">
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-success" v-on:click="subscribe">Subscribe</button>

            </form>
        </div>

        <div class="col-md-6 card" v-if="subscribing">
            Wait...
        </div>
    </div>
</template>

<script>
    export default {
        name: "subscription-info",
        data() {
            return{
                subscriptionsAvailable : {
                    'Free' : '0.00$ / month',
                    'Silver' : '10.00$ / month',
                    'Premium' : '20.00$ / month',
                },
                client : {
                    billing_address: null
                },
                card: this.emptyCard(),
                error:null,
                userSubscription : ('subscriptions' in this.$store.store.user && this.$store.store.user.subscriptions.length > 0) ? this.$store.store.user.subscriptions[0].stripe_plan : 'Free',
                selectedSubscription : 'Free',
                subscribing : false
            }
        },
        mounted() {
            // TODO: get subscriptions list from api
            this.$services.users.updateLocalMe((res) => {
                this.selectedSubscription = this.userSubscription;
            });
        },
        methods: {
            validate : function(){
                if(this.card.number == null || this.card.cvc == null || this.card.exp_month == null || this.card.exp_year == null || this.card.name == null)
                {

                    this.error = "Missing card information.";
                    return false;
                }
                return true;
            },
            emptyCard : function(){
                return {
                    name: null,
                    number: null,
                    cvc: null,
                    exp_month: null,
                    exp_year: null
                };
            },
            useAnotherCard: function(){
                this.$store.store.user.card_last_four = null;
            },
            subscribe : function(){
                if(this.$store.store.user.card_last_four != null)
                    return this.callSubscribeService();

                if(! this.validate()) return;
                this.subscribing = true;
                window.Stripe.card.createToken(this.card, this.stripeResponseHandler);
            },
            stripeResponseHandler : function(status, res) {
                if(status != 200)
                {
                    this.error = res.error.message;
                }else {
                    this.card = this.emptyCard();
                    var token = res.id;
                    this.callSubscribeService();
                }
            },

            callSubscribeService : function() {
                this.$services.subscriptions.post({
                    client : this.client,
                    stripeToken : null,
                    subscriptionName : this.selectedSubscription
                }, (res) => {
                    this.subscribing = false;
                });
            }
        }
    }
</script>

<style scoped>
</style>