<template>
    <div class="card">
        <div class="header">
            <div class="row">
                <div class="col-md-7 col-sm-10 col-xs-6">
                    <h4 class="title text-warning">Apps</h4>
                </div>
                <div class="col-md-2 col-sm-1 col-xs-3">
                    <button class="btn btn-sm btn-info" v-on:click="$utils.goToPage($router, 'add_application', {id: $route.params.id})">Add App</button>
                </div>
                <div class="col-md-3 col-sm-1 col-xs-3 text-right">
                    <i class="fa fa-minus text-warning" v-on:click="toggleContent()"></i>
                </div>
            </div>
        </div>
        
        <div class="content" v-if="showing">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Technology</th>
                            <th># Active Services</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="application in applications">
                            <td>{{ application.name }}</td>
                            <td>{{ application.technology }}</td>
                            <td>{{ JSON.parse(application.active_services).length }}</td>
                            <td class="text-success">
                                <p v-on:click="goToPage('application', {id: application.id})">
                                    Open <i class="fa fa-angle-double-right"></i>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "apps-information",
        props: ['applications'],

        data() {
            return {
                showing: true
            }
        },

        methods: {
            toggleContent: function () {
                this.showing = !this.showing;
            },
            goToPage:function(page, params){
                this.$router.push({name: page, params: params});
            }
        }
    }
</script>

<style scoped>

</style>