<template>
    <div class="card" v-on:click="onClickMethod()">
        <div class="header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="title text-warning"> {{ this.title == null ? nodeInfo.name : title }}</h4>
                    <input type="text" class="form-control" v-model="nodeInfo.name" v-if="editable && editing"/>
                </div>
                <div class="col-md-2 text-right" v-if="editable" v-on:click="toggleEdit()">
                    <i class="fa fa-pencil" ></i>
                    Edit
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <p class="category text-info">IP Address</p>
                    <p class="text-muted">
                        {{ node.ip }}
                    </p>
                    <input type="text" class="form-control" v-model="nodeInfo.ip" v-if="editable && editing"/>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">
                        Machine Name
                    </p>
                    <p class="text-muted">{{ node.machine_name }}</p>
                    <input type="text" class="form-control" v-model="nodeInfo.machine_name" v-if="editable && editing"/>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">Operative System</p>
                    <p class="text-muted">
                        {{ node.os }}
                    </p>
                    <input type="text" class="form-control" v-model="nodeInfo.os" v-if="editable && editing" disabled/>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">Status</p>
                    <p class="text-muted">
                        <i v-bind:class="status.fa_class" aria-hidden="true"></i>
                        {{ status.msg }}
                        <i class="fa fa-info-circle" aria-hidden="true" v-on:click="status.toggleShowingMoreInfo()"></i>
                        <br />
                        <small v-if="status.showingMoreInfo">{{ status.moreInfo }}</small>
                    </p>
                </div>

                <div class="col-md-6">
                    <p class="category text-info">Up Time</p>
                    <p class="text-muted">
                        {{ $utils.toHHMMSS(node.up_time) }} s
                    </p>
                </div>
            </div>

            <div class="row" v-if="editable && editing">
                <div class="col-md-3">
                    <button type="button" v-on:click="save()" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "base-info-card",
        props: ['node', 'editable', 'on_click', 'title'],
        data() {
            return {
                editing: false,
                nodeInfo: this.node,
                status: {}
            }
        },

        mounted() {
            this.status = this.$services.nodes.status(this.node);
        },
        methods: {
            toggleEdit: function () {
                this.editing = !this.editing;
            },
            save: function() {
                this.$services.nodes.save(this.nodeInfo.id, this.node, (node) => {
                    this.node = node;
                });
            },
            onClickMethod : function(){
                this.$emit('on_click', this.nodeInfo);
            }
        }
    }
</script>

<style scoped>

</style>