<template>
    <div class="card" v-on:click="onClickMethod()">
        <div class="header">
            <h4 class="title text-warning">Live Information</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <p class="category text-info">CPU Usage</p>
                    <p class="text-muted">
                        <line-chart :chartData="cpuUsage" :options="options"></line-chart>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="category text-info">Memory Usage</p>
                    <p class="text-muted">
                        <line-chart :chartData="memoryUsage" :options="options"></line-chart>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import LineChart from '../charts/LineChart'

    export default {
        name: "live-information",
        props: ['currentCPUUsage', 'currentMemoryUsage'],
        data() {
            return {
                cpuUsage : {
                    labels: [],
                    datasets: [
                        {
                            label: 'CPU Usage',
                            backgroundColor: this.$configs.CHARTS.COLORS.GREEN,
                            data: []
                        }
                    ]
                },
                memoryUsage : {
                    labels: [],
                    datasets: [
                        {
                            label: 'Memory Usage',
                            backgroundColor: this.$configs.CHARTS.COLORS.BLUE,
                            data: []
                        }
                    ]
                },
                options:{responsive: true, maintainAspectRatio: false},

                currentDataLength : 0
            }
        },
        mounted() {
            this.updateLiveProps();
        },
        watch:{
            currentCPUUsage: function(){

            }
        },
        methods: {
            updateLiveProps : function() {
                var time = this.$utils.currentTimeString();

                this.cpuUsage.labels.push(time);
                this.memoryUsage.labels.push(time);

                this.cpuUsage.datasets[0].data.push(this.currentCPUUsage);

                var memObj = this.$utils.formatBytesAsObject(this.currentMemoryUsage, 3);
                this.memoryUsage.datasets[0].label = 'Memory Usage (' + memObj.un + ')';
                this.memoryUsage.datasets[0].data.push(memObj.value);

                this.shiftData();

                this.cpuUsage = this.updateProps(this.cpuUsage);

                this.memoryUsage = this.updateProps(this.memoryUsage);

                this.currentDataLength ++;

                setTimeout(this.updateLiveProps, 1000);
            },


            shiftData: function () {
                if(this.currentDataLength > this.$configs.CHARTS.MAX_SHOWING)
                {
                    this.cpuUsage.labels.shift();
                    this.cpuUsage.datasets[0].data.shift();

                    this.memoryUsage.labels.shift();
                    this.memoryUsage.datasets[0].data.shift();
                }
            },

            updateProps : function(data){
                return {
                    labels : data.labels,
                    datasets : data.datasets
                }
            }
        },
        components : {
            LineChart
        }
    }
</script>

<style scoped>

</style>