<template>
    <div class="card">
        <div class="header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="title text-warning">Physical Information</h4>
                </div>
                <div class="col-md-2 text-right">
                    <i class="fa fa-minus text-warning" v-on:click="toggleContent()"></i>
                </div>
            </div>
        </div>
        <div class="content" v-if="showing">
            <div class="row">
                <div class="col-md-6">
                    <p class="category text-info">CPU Max Usage</p>
                    <speedometer :id="'cpuMaxUsage'"
                                 :valueToShow="Math.round(node.cpu_max_usage * 100) / 100"
                                 :percentage="Math.round(node.cpu_max_usage * 100) / 100"
                                 :metric="'%'"></speedometer>
                </div>
                <!--div class="col-md-6">
                    <p class="category text-info">Errors</p>
                    <p class="text-muted">
                        {{ node.errors }}
                    </p>
                </div -->
                <div class="col-md-6">
                    <p class="category text-info">Current CPU Usage</p>
                    <speedometer :id="'cpuCurrentUsage'"
                                 :valueToShow="Math.round(currentCPUUsage * 100) / 100"
                                 :percentage="Math.round(currentCPUUsage * 100) / 100"
                                 :metric="'%'"></speedometer>
                </div>

                <div class="col-md-6">
                    <p class="category text-info">Memory Max Usage</p>
                    <speedometer :id="'memoryMaxUsage'"
                                 :metric="''"
                                 :valueToShow="$utils.formatBytes(node.memory_max_usage, 2)"
                                 :percentage="Math.round(((parseFloat(node.memory_max_usage)/parseFloat(JSON.parse(node.info.VirtualMemory).total))*100)*100)/100"></speedometer>

                </div>
                <div class="col-md-6">
                    <p class="category text-info">Current Memory Usage</p>
                    <speedometer :id="'memoryCurrentUsage'"
                                 :metric="''"
                                 :valueToShow="$utils.formatBytes(currentMemoryUsage, 2)"
                                 :percentage="Math.round(((parseFloat(currentMemoryUsage)/parseFloat(JSON.parse(node.info.VirtualMemory).total))*100)*100)/100"></speedometer>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Speedometer from '../../core-modules/Speedometer'

    export default {
        name: "physical-information",
        props: ['node', 'currentCPUUsage', 'currentMemoryUsage'],
        data() {
            return {
                showing: true
            }
        },

        methods: {
            toggleContent: function () {
                this.showing = !this.showing;
            }
        },

        components : {
            Speedometer
        }
    }
</script>

<style scoped>

</style>