<template>
    <div class="row">
        <div class="col-md-12">
            <h3>Logs Type Distribution <small>Last month</small></h3>
            <donut-chart :chartData="logsPerApp" :options="options"></donut-chart>
        </div>
    </div>
</template>

<script>
    import DonutChart from '../charts/DonutChart'

    export default {
        name: "logs-type-distribution",
        props : ['logsStats'],
        data() {
            return {
                logsPerApp : {
                    labels: [],
                    datasets: []
                },
                options:{},
                colors:this.$configs.CHARTS.COLOR_LIST()
            }
        },
        watch : {
            'logsStats' : function() {
                if(Object.keys(this.logsStats).length == 0) return;
                this.applicationsLogs();
            }
        },

        methods: {
            lastMonthLogs : function() {
                let dates = Object.keys(this.logsStats);
                var lastMonth = dates[0];
                return this.logsStats[lastMonth];
            },

            applicationsLogs : function() {
                var lastMonthLogs = this.lastMonthLogs();

                var applicationsListFinal = Object.keys(lastMonthLogs);
                var logsTypes = [];
                var datasets = [];

                // Get logs types
                applicationsListFinal.forEach(application => {
                    let applicationLogs = lastMonthLogs[application];
                    let applicationLogsTypes = Object.keys(applicationLogs);

                    logsTypes = this.$utils.array.mergeWithoutDuplicates(logsTypes, applicationLogsTypes);
                });

                var colorIndex = 0;

                var currentDataSet = {
                    label: [],
                    backgroundColor: [],
                    data : []
                }

                logsTypes.forEach(logType => {
                    var totalLogsOfType = 0;

                    applicationsListFinal.forEach(application => {
                        let applicationLogs = lastMonthLogs[application];

                        if (applicationLogs.hasOwnProperty(logType)) {
                            totalLogsOfType += applicationLogs[logType].total;
                        }
                    });
                    currentDataSet.data.push(totalLogsOfType);
                    currentDataSet.label.push(logType);
                    currentDataSet.backgroundColor.push(this.colors[colorIndex]);
                    colorIndex = (this.colors.length < colorIndex) ? 0 : colorIndex + 1;
                });

                datasets.push(currentDataSet);
                this.updateChart(logsTypes, datasets);
            },

            updateChart : function(logsTypes, data) {
                this.logsPerApp =  {
                    labels: logsTypes,
                    datasets: data
                }
            }
        },
        components: {
            DonutChart
        }
    }
</script>

<style scoped>

</style>