<template>
    <div class="row">
        <div class="col-md-12">
            <h3>Applications Logs Distribution <small>Last month</small></h3>
            <bar-chart :chartData="logsPerApp" :options="options"></bar-chart>
        </div>
    </div>
</template>

<script>
    import BarChart from '../charts/BarChart'

    export default {
        name: "request-per-app-chart",
        props : ['logsStats'],
        data() {
            return {
                logsPerApp : {
                    labels: [],
                    datasets: []
                },
                options:{},
                colors:this.$configs.CHARTS.COLOR_LIST()
            }
        },
        watch : {
            'logsStats' : function() {
                if(Object.keys(this.logsStats).length == 0) return;
                this.applicationsLogs();
            }
        },

        methods: {
            lastMonthLogs : function() {
                let dates = Object.keys(this.logsStats);
                var lastMonth = dates[0];
                return this.logsStats[lastMonth];
            },

            applicationsLogs : function() {
                var lastMonthLogs = this.lastMonthLogs();

                var applicationsListFinal = Object.keys(lastMonthLogs);
                var logsTypes = [];
                var datasets = [];

                // Get logs types
                applicationsListFinal.forEach(application => {
                    let applicationLogs = lastMonthLogs[application];
                    let applicationLogsTypes = Object.keys(applicationLogs);

                    logsTypes = this.$utils.array.mergeWithoutDuplicates(logsTypes, applicationLogsTypes);
                });

                var colorIndex = 0;

                if(applicationsListFinal.length > 10)
                    applicationsListFinal = applicationsListFinal.slice(9);

                logsTypes.forEach(logType => {
                    var currentDataSet = {
                        label: logType + ' logs',
                        backgroundColor: this.colors[colorIndex],
                        data : []
                    }

                    colorIndex = (this.colors.length < colorIndex) ? 0 : colorIndex + 1;

                    applicationsListFinal.forEach(application => {
                        let applicationLogs = lastMonthLogs[application];
                        var totalLogsOfType = 0;

                        if (applicationLogs.hasOwnProperty(logType)) {
                            totalLogsOfType = applicationLogs[logType].total;
                        }
                        currentDataSet.data.push(totalLogsOfType);
                    });

                    datasets.push(currentDataSet);
                });

                this.updateChart(applicationsListFinal, datasets);
            },

            updateChart : function(applicationsListFinal, data) {
                this.logsPerApp =  {
                    labels: applicationsListFinal,
                    datasets: data
                }
            }
        },
        components: {
            BarChart
        }
    }
</script>

<style scoped>

</style>