<template>
    <div>
        <div class="row">
            <div class="col-md-3">
                <h6>Application Type  <small class="text-danger">* Required</small></h6>

                <div class="form-group">
                    <select class="form-control" v-model="selectedType.type" @change="changeType">
                        <option v-for="type in appTypes" :value="type.type">{{ type.type }}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <h6>Technology</h6>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Technology"
                           v-model="selectedType.technology" disabled>
                </div>
            </div>

            <div class="col-md-6">
                <h6>Type Description</h6>
                <input disabled type="text" class="form-control" v-model="selectedType.description"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Regex <small class="text-success">Default: Application type regex</small></label>
                    <textarea  class="form-control" v-model="selectedType.regex" :disabled="disabled.regex">

                    </textarea>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "application-types-select",
        props: ['currentType', 'currentTypeDescription', 'currentTypeTechnology', 'currentTypeRegex'],
        data() {
            return {
                selectedType:{
                    type: this.currentType,
                    description : this.currentTypeDescription,
                    regex : this.currentTypeRegex,
                    technology : this.currentTypeTechnology
                },
                appTypes : [],
                disabled:{
                    regex: true
                }
            }
        },
        mounted() {
            this.$services.application_types.list((appTypes) => {
                this.appTypes = appTypes;
            });
        },
        methods:{
            changeType: function(){
                for(var i = 0; i < this.appTypes.length; i++) {
                    var type = this.appTypes[i];
                    if(type.type == this.selectedType.type) {
                        this.selectedType.description = type.description;
                        this.selectedType.regex = type.regex;
                        this.selectedType.technology = type.technology;
                    }
                }

                this.$emit('type_changed', this.selectedType)
            }
        }
    }
</script>

<style scoped>

</style>