<template>
    <div class="row">
        <div class="col-md-11">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" v-model="query" class="form-control" placeholder="Search"/>
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" v-on:click="filter()" class="btn btn-success">Search</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search-bar",
        props:['data', 'filterBy'],
        data() {
            return {
                query: ""
            }
        },
        methods : {
            filter() {
                var results = [];

                this.data.forEach(v => {
                    this.filterBy.forEach(f => {
                       if(v[f].toUpperCase().indexOf(this.query.toUpperCase()) !== -1 && results.indexOf(v) === -1)
                           results.push(v);
                    });
                });

                this.$emit('search_finished', results);
            }
        }
    }
</script>

<style scoped>

</style>