<template>
    <div class="card">
        <div class="header">
            <h4 class="title" v-if="title != null">{{ title }}</h4>
            <p class="category" v-if="category != null">{{ category }}</p>
        </div>
        <div class="content" v-html="content">
        </div>
    </div>
</template>

<script>
    export default {
        name: "stat-box",
        props: ['title', 'category', 'content']
    }
</script>

<style scoped>

</style>