<template>
    <div class="card">
        <div class="header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="title text-warning">Active Services</h4>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-warning">Add new service</button>
                </div>
            </div>
        </div>
        <div class="content" v-if="loading">Loading...</div>
        <div class="content" v-if="$store.store.services != null && ! loading">

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Identifier</th>
                            <th>Description</th>
                            <th>Subscription</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="service in $store.store.services">
                            <td>{{ service.name }}</td>
                            <td>{{ service.identifier }}</td>
                            <td>{{ service.description }}</td>
                            <td>{{ service.subscription }}</td>
                            <td>Delete</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "active-services-page",
        data() {
            return {
                loading: true
            }
        },
        mounted() {
            this.$services.available_services.list((services) => {
                this.$store.store.services = services;
                this.$forceUpdate();
                this.loading = false;
            });
        }
    }
</script>

<style scoped>

</style>