<template>
    <div class="container-fluid card">

        <div class="header">
            <h4 class="title">Clients Software</h4>
        </div>
        <div class="content">

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Version</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="client in clients">
                            <td>{{ client.version }}</td>
                            <td>{{ client.description }}</td>
                            <td>Delete | Download</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="title">Add new</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Version</label>
                        <input type="text" class="form-control" placeholder="Version"
                               v-model="clientSoftware.version">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" v-model="clientSoftware.description"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Application</label>

                        <input type="file" @change="onFileChange" class="input-file" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-success" v-on:click="add">Add</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "client-software-page",
        data(){
            return {
                clients : [],
                clientSoftware: {
                    description : "",
                    version: ""
                },
                clientFile: ""
            }
        },
        mounted(){
            this.$services.client_software.list((body) => {
                this.clients = body;
            });
        },
        methods:{
            onFileChange: function onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.clientFile = files[0];
            },
            add:function(){
                let formData = new FormData();

                formData.append('version', this.clientSoftware.version);
                formData.append('description', this.clientSoftware.description);
                console.log(this.clientFile);
                formData.append('software_client_file', this.clientFile);

                this.$services.client_software.post(formData, (body) => {
                    this.clientSoftware = body;
                    this.clients.push(this.clientSoftware);
                });
            }
        }
    }
</script>

<style scoped>

</style>