<template>

    <div class="container-fluid">
        <div v-if="someLoading()">Loading...</div>
        <div v-if="!someLoading()">
            <h3 class="title">Users</h3>
            <div class="row">
                <div class="col-md-9">
                    <search-bar v-on:search_finished="this.filterResults" :data="this.users.data" :filterBy="this.filterBy"></search-bar>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    Active users: {{ activeUsers.total }} <br/>
                    Total users: {{ users.total }}
                </div>
            </div>

            <div class="row" v-if="users.last_page > users.current_page">
                <div class="col-md-3">
                    <input type="number" v-model="users.current_page" v-on:change="changePage()"/>
                    of {{ users.last_page }}
                </div>
            </div>
            <br/>
            <user-info-box v-for="u in showingUsers"
                           :user="u"
                           :isActive="isUserActive(u)"
                           v-bind:data="u"
                           v-bind:key="u.id"></user-info-box>
        </div>
    </div>
</template>

<script>
    import UserInfoBox from '../modules/UserInfoBox'
    import SearchBar from '../../modules/SearchBar'

    export default {
        name: "users-page",

        data() {
            return {
                showingUsers: [],
                users : [],
                activeUsers: [],
                filterBy: ['name', 'email'],
                loading: {
                    users_list : true,
                    active_users: true
                }
            }
        },

        mounted() {
            this.$services.users.list([], (users) => {
                this.users = users;
                this.showingUsers = users.data;
                this.loading.users_list = false;
            });

            this.$services.users.active((users) => {
                this.activeUsers = users;
                this.loading.active_users = false;
            });
        },

        methods: {
            filterResults: function (filterRes) {
                this.showingUsers = filterRes;

            },
            isUserActive: function(user) {
                var index = 0;

                for(; index < this.activeUsers.data.length; index++)
                {
                    var activeU = this.activeUsers.data[index];

                    if(activeU.id == user.id)
                        return true;
                }
                return false;
            },

            someLoading : function(){
                var loadingKeys = Object.keys(this.loading);

                for(var i = 0; i < loadingKeys.length; i++)
                {
                    var key = loadingKeys[i];
                    if(this.loading[key])
                        return true;
                }

                return false;
            },

            changePage : function() {
                this.$services.users.list({page: this.users.current_page}, (users) => {
                    this.users = users;
                    this.showingUsers = users.data;
                    this.loading.users_list = false;
                });
            }
        },

        components: {
            UserInfoBox,
            SearchBar
        }
    }
</script>

<style scoped>

</style>