<template>
    <div class="container-fluid">
        <my-account-basic-info v-if="!loading"></my-account-basic-info>

        <!---subscription-info v-if="!loading"></subscription-info--->
    </div>
</template>

<script>
    import MyAccountBasicInfo from '../modules/account/MyAccountBasicInfo';
    import SubscriptionInfo from '../modules/account/SubscriptionInfo';

    export default {
        name: "account-page",
        data(){
            return{
                loading:true
            }
        },
        mounted() {
            this.$services.users.updateLocalMe((u) => {
                this.loading = false;
            });
        },
        components:{
            MyAccountBasicInfo,
            SubscriptionInfo
        }
    }
</script>

<style scoped>

</style>