<template>
    <div v-if="! loading">
        <div class="row">
            <div class="col-md-12">
                <h2>Add Application to {{node}} node</h2>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger" v-if="saveResponse.error != null">
                {{ saveResponse.error }}
            </div>
            <div class="alert alert-success" v-if="saveResponse.success != null">
                {{ saveResponse.success }}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name <small class="text-danger">* Required</small></label>
                    <input type="text" class="form-control" placeholder="Name"
                           v-model="application.name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <application-types-select
                        :currentType="application.type"
                        :currentTypeDescription="application.type_description"
                        v-on:type_changed="updateApplicationType">
                </application-types-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        Log Levels  <small class="text-success">Example: ERROR, WARN, INFO</small>
                    </label>
                    <input type="text" class="form-control" placeholder="Log Level Filter" v-model="currentFilter">
                    <button class="btn btn-sm btn-success" v-on:click="addFilter">Add</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <app-filters :application="application" :title="'Log Levels Applied'"
                                 :filter_name="'log_level'"
                                 v-on:remove="removeFilter"></app-filters>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <active-services :application="application" v-on:services_updated="servicesUpdated"></active-services>
                </div>
            </div>
        </div>

        <button class="btn btn-info btn-fill pull-right" v-on:click="save">Create</button>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    import AppFilters from '../modules/application/AppFilters'
    import ApplicationTypesSelect from '../modules/ApplicationTypesSelect'
    import ActiveServices from '../modules/application/ActiveServices'

    export default {
        name: "add-application-page",
        data() {
            return {
                application : {
                    name:"",
                    technology: "",
                    regex: "",
                    filters : {
                        "log_level" : [
                            'ERROR',
                            'WARN'
                        ]
                    },
                    active_services: []
                },
                currentFilter : "",
                node : "",
                loading:true,
                saveResponse:{
                    error : null,
                    success: null
                }
            }
        },
        mounted() {
            this.$services.nodes.get(this.$route.params.id, (node) => {
                this.node = node.name;
                this.loading = false;
            });
        },
        methods: {
            addFilter : function() {
                if(this.currentFilter != "") {
                    this.application.filters.log_level.push(this.currentFilter);
                    this.currentFilter = "";
                }
            },

            save : function() {
                this.$services.applications.create(this.$route.params.id, this.application, (response) => {
                    if(response.status != 200 && response.status != 201)
                    {
                        this.saveResponse.error = response.body.error_msg;
                        return;
                    }

                    this.saveResponse.error = null;
                    this.saveResponse.success = "Application added successfully.";

                    setTimeout(() => {
                        this.$utils.goToPage(this.$router, 'node', {id: this.$route.params.id});
                    }, 1000);
                });
            },

            removeFilter: function(removeData) {
                var newFilters = [];
                var filters = this.application.filters[removeData.filter_name];
                for(var index in filters) {
                    if(filters[index] != removeData.data)
                        newFilters.push(filters[index]);
                }

                this.application.filters[removeData.filter_name] = newFilters;
            },

            updateApplicationType: function(newType) {
                this.application.type = newType.type;
                this.application.type_description = newType.description;
                this.application.regex = newType.regex;
                this.application.technology = newType.technology;
            },

            servicesUpdated : function(newServices) {
                this.application.active_services = newServices;
            }
        },
        components:{
            AppFilters,
            ApplicationTypesSelect,
            ActiveServices
        }
    }
</script>

<style scoped>

</style>