<template>
    <div>
        <div class="row">
            <div class="alert alert-danger" v-if="saveResponse.error != null">
                {{ saveResponse.error }}
            </div>
            <div class="alert alert-success" v-if="saveResponse.success != null">
                {{ saveResponse.success }}
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name"
                           v-model="node.name">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>IP address</label>
                    <input type="text" class="form-control" placeholder="Ip Address"
                           v-model="node.ip">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Machine Name</label>
                    <input type="text" class="form-control" placeholder="Machine Name"
                           v-model="node.machine_name">
                </div>
            </div>
        </div>

        <button class="btn btn-info btn-fill pull-right" v-on:click="save">Create</button>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    export default {
        name: "add-node-page",
        data() {
            return {
                node: {
                    name: "",
                    ip: "",
                    machine_name: ""
                },
                saveResponse:{
                    error : null,
                    success: null
                }
            }
        },
        methods: {
            save: function () {
                this.$services.nodes.create(this.node, (response) => {
                    if(response.status != 200 && response.status != 201){
                        this.saveResponse.error = "An error occurred.";
                        return;
                    }

                    this.node = response.body;

                    this.saveResponse.error = null;
                    this.saveResponse.success = "Node added successfully.";
                });
            }
        }
    }
</script>

<style scoped>

</style>