<template>
    <app-logs></app-logs>
</template>

<script>
    import AppLogs from '../modules/application/AppLogs'

    export default {
        name: "application-logs-page",

        components: {
            AppLogs
        }
    }
</script>

<style scoped>

</style>