<template>
    <div class="card" v-if="application != null">
        <div class="header">
            <div class="row">
                <div class="col-md-7 col-md-offset-5">
                    <button class="btn btn-sm btn-success" @click="toggleViewLiveLogs">
                        <i class="fa fa-line-chart"></i> Show/Hide live logs
                    </button>
                    <button class="btn btn-sm btn-info" v-on:click="goToPage('application_logs')">
                        <i class="fa fa-archive"></i> Application logs
                    </button>
                    <button class="btn btn-sm btn-warning" @click="toggleEditRegex">
                        <i class="fa fa-edit"></i> Edit regex
                    </button>
                    <button class="btn btn-sm btn-danger" v-on:click="deleteApp">
                        <i class="fa fa-trash"></i> Delete App
                    </button>
                </div>
            </div>
        </div>
        <br />

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Application Name:</h6>
                            <input type="text" class="form-control" v-model="application.name"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <application-types-select
                                    :currentType="application.type"
                                    :currentTypeDescription="application.type_description"
                                    :currentTypeTechnology="application.technology"
                                    :currentTypeRegex="application.regex"
                                    v-on:type_changed="updateApplicationType">
                            </application-types-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Started at:</h6>
                            <p>{{new Date(application.up_time).toDateString()}}</p>
                        </div>

                        <div class="col-md-3">
                            <active-services :application="application"
                                             v-on:services_updated="servicesUpdated"></active-services>
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <app-filters :application="application"
                                         :title="'Log Level Filter'"
                                         :filter_name="'log_level'"
                                         v-on:remove="removeFilter"></app-filters>

                            <div class="row">

                                <div class="col-md-7">
                                    <input v-model="newFilter" type="text" class="form-control"/>
                                </div>

                                <div class="col-md-4">
                                    <button class="btn btn-sm btn-warning" v-on:click="addFilter">Add New Filter</button>
                                </div>
                            </div>
                        </div>
                        <!--div class="col-md-4">
                            <h6>Notifications:</h6>
                            <i v-bind:class="application.notifications_enabled ? 'fa fa-times text-danger'
                                : 'fa fa-check text-success'"></i>
                        </div--->
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-12">
                            <application-regex :application="application" v-if="editRegex"></application-regex>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn btn-primary" v-on:click="saveApplication">Save Application</button>
                        </div>

                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <div class="content" v-if="showLiveLogs">
            <div class="row">
                <div class="col-md-12">
                    <live-logs :application="application" :logs="logs"></live-logs>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ActiveServices from '../modules/application/ActiveServices'
    import AppFilters from '../modules/application/AppFilters'
    import ApplicationRegex from '../modules/application/ApplicationRegex'
    import LiveLogs from '../modules/application/LiveLogs'
    import ApplicationTypesSelect from '../modules/ApplicationTypesSelect'

    export default {
        name: "application-page",
        data() {
            return {
                application: null,
                logs: null,
                newFilter: "",
                editRegex : false,
                showLiveLogs : false
            }
        },

        mounted() {
            this.$services.applications.get(this.$route.params.id, (application) => {
                this.application = application;
            });

            this.$services.applications.getLogsStats(this.$route.params.id, (logs) => {
                this.logs = logs;
            });
        },

        methods: {
            toggleViewLiveLogs : function(){
                this.showLiveLogs = ! this.showLiveLogs;
            },
            toggleEditRegex : function() {
                this.editRegex = !this.editRegex;
            },
            addFilter: function () {
                this.application.filters['log_level'].push(this.newFilter);
                this.newFilter = "";
            },
            goToPage: function (pageName) {
                this.$router.push({name: pageName, params: {id: this.application.id}});
            },
            saveApplication: function () {
                this.$services.applications.save(this.$route.params.id, this.application, (logs) => {
                    this.logs = logs;
                });
            },
            removeFilter: function (removeData) {
                var newFilters = [];
                var filters = this.application.filters[removeData.filter_name];
                for (var index in filters) {
                    if (filters[index] != removeData.data)
                        newFilters.push(filters[index]);
                }

                this.application.filters[removeData.filter_name] = newFilters;
            },

            updateApplicationType: function (newType) {
                this.application.type = newType.type;
                this.application.type_description = newType.description;
            },

            servicesUpdated: function (newServices) {
                this.application.active_services = newServices;
            },

            deleteApp: function () {
                var nodeId = this.application.node_id;

                this.$services.applications.delete(this.$route.params.id, (resp) => {
                    this.$utils.goToPage(this.$router, 'node', {id: nodeId});
                });
            }
        },

        components: {
            ActiveServices,
            AppFilters,
            ApplicationRegex,
            LiveLogs,
            ApplicationTypesSelect
        }
    }
</script>

<style scoped>

</style>