<template>
    <div class="container-fluid" >
        <div class="row" v-show="loading">
            Loading...
        </div>
        <div v-show="!loading">
            <div class="row">
                <div class="col-md-4">
                    <stat-box :content="nodesInfo.totalNodes" title="# Nodes"
                              category="Number of nodes being monitored"></stat-box>
                </div>
                <div class="col-md-4">
                    <stat-box :content="Math.round(nodesInfo.maxCpuUsage * 100) / 100 + ' %'" title="Max CPU Usage"
                              category="Maximum CPU usage"></stat-box>
                </div>
                <div class="col-md-4">
                    <stat-box :content="nodesInfo.operativeSystemsCount" title="# Operative Systems"
                              category="Number of distinct OS on nodes."></stat-box>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <stat-box :content="totalApplications" title="# Applications"></stat-box>
                </div>

                <div class="col-md-4">
                    <stat-box :content="logsStatistics.numErrorsLastMonth" title="# Errors Last Month"></stat-box>
                </div>

                <div class="col-md-4">
                    <stat-box :content="logsStatistics.totalLogsLastMonth" title="# Logs Last Month"></stat-box>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <request-per-app-chart :logsStats="logsStats"></request-per-app-chart>
                        </div>
                        <div class="col-md-6">
                            <logs-type-distribution :logsStats="logsStats"></logs-type-distribution>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import StatBox from '../modules/StatBox'
    import RequestPerAppChart from '../modules/dashboard/RequestPerAppChart'
    import LogsTypeDistribution from '../modules/dashboard/LogsTypeDistribution'

    export default {
        name: "dashboard-page",

        data() {
            return {
                error: null,
                loading: true,
                debug:false,
                nodesInfo: {
                    maxCpuUsage: 0,
                    operativeSystemsCount: 0,
                    totalNodes: 0
                },

                logsStatistics : {
                    numErrorsLastMonth : 0,
                    totalLogsLastMonth: 0
                },

                logsStats : {
                },
                totalApplications : 0,
                title : null
            }
        },

        mounted() {

            var socket = this.$socketIO;

            socket.on('connect', function(){
                console.log('connected!')
            });
            socket.on('os_monitor_s', this.updateMonitorInfo);
            socket.on('disconnect', function(){});

            this.$services.nodes.list(nodes => {
                this.$store.store.nodes.list = nodes;
                this.$store.store.nodes.maxCpuCalculatedUsage = this.$store.utils.getMax(nodes, "cpu_max_usage");
                this.$store.store.nodes.operativeSystemsList = this.$store.utils.getAllValuesForField(nodes, "os");

                this.nodesInfo.maxCpuUsage = this.$store.store.nodes.maxCpuCalculatedUsage;
                this.nodesInfo.operativeSystemsCount = this.$store.store.nodes.operativeSystemsList.length;
                this.nodesInfo.totalNodes = nodes.length;

                this.loading = false;
            });

            this.$services.applications.list(applications => {
                this.$store.store.applications.list = applications;
                this.totalApplications = applications.total;
                this.loading = false;
            });

            this.$services.logs.stats(logsStats => {
                this.logsStats = logsStats;

                var lastMonth = Object.keys(this.logsStats)[0];
                var lastMonthLogs = this.logsStats[lastMonth];
                var applicationsListFinal =  Object.keys(lastMonthLogs);

                // For every application
                applicationsListFinal.forEach(application => {
                    // Get logs for last month
                    let applicationLogs = lastMonthLogs[application];
                    let applicationLogsTypes = Object.keys(applicationLogs);

                    // For every log type in application, increment total logs
                    applicationLogsTypes.forEach(logType => {
                        this.logsStatistics.totalLogsLastMonth += applicationLogs[logType].total;
                        // if log is ERROR, increment total number errors last month
                        if(logType=='ERROR')
                            this.logsStatistics.numErrorsLastMonth += applicationLogs[logType].total;
                    });
                });

                this.loading = false;
            });
        },

        methods: {
            updateMonitorInfo : function(data) {
                if(data.cpu_usage > this.nodesInfo.maxCpuUsage)
                    this.nodesInfo.maxCpuUsage = data.cpu_usage;

            }
        },

        components: {
            StatBox,
            RequestPerAppChart,
            LogsTypeDistribution
        }
    }
</script>

<style scoped>

</style>