<template>
    <div class="container-fluid card">

        <div class="header">
            <h4 class="title">Download Client</h4>
        </div>
        <hr/>
        <div class="content">
            <div class="row">
                <div class="col-md-6">

                    <h6 class="title">Instructions</h6>
                    1. Download the client. It is a zip that contains two files: client and a a config xml file.<br />
                    2. Run the command <code>chmod +x ___file___</code><br />
                    3. Modify credentials.xml with your information:
                </div>
            </div>
            <div class="row ">
                <div class="col-md-2">
                    <a :href="$urls.CLIENTS_SOFTWARE.DOWNLOAD" target="" class="btn btn-success">Download!</a>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "download-client-page",
        data() {
            return{
                node: "",
                application : ""
            }
        }
    }
</script>

<style scoped>

</style>