<template>

    <div class="container-fluid" v-if="node != null">
        <h3 class="title">{{ node.name }} <small>(Node server)</small></h3>
        <button class="btn btn-sm btn-success" @click="toggleLiveInfo">Show/Hide Live Information</button>

        <hr/>
        <div class="row">
            <div class="col-md-4">
                <base-info-card :node="node"
                                v-bind:data="node"
                                v-bind:key="node.id"
                                :editable="true"
                                title='Basic Info'
                ></base-info-card>
            </div>
            <div class="col-md-4">
                <apps-information :applications="node.applications"></apps-information>

            </div>
            <div class="col-md-4">

                <physical-information :node="node"
                                      :currentCPUUsage="currentCPUUsage"
                                      :currentMemoryUsage="currentMemoryUsage"></physical-information>
            </div>
        </div>

        <div class="row" v-if="liveInfoShowing">
            <div class="col-md-12">
                <live-information
                        v-if="nodeStatus.msg == 'Ok'"
                        :currentCPUUsage="currentCPUUsage"
                        :currentMemoryUsage="currentMemoryUsage"
                ></live-information>

                <div class="alert alert-danger"
                     v-if="nodeStatus.msg != 'Ok'">
                    Node monitor is not running correctly.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BaseInfoCard from '../modules/node/BaseInfoCard'
    import PhysicalInformation from '../modules/node/PhysicalInformation'
    import AppsInformation from '../modules/node/AppsInformation'
    import LiveInformation from '../modules/node/LiveInformation'

    export default {
        name: "node-page",

        data() {
            return {
                node: null,
                currentCPUUsage : 0,
                currentMemoryUsage : 0,
                nodeStatus:{

                },
                liveInfoShowing : false
            }
        },

        mounted() {
            this.$services.nodes.get(this.$route.params.id, (node) => {
                this.node = node;
                this.currentCPUUsage = node.cpu_max_usage;
                this.currentMemoryUsage = node.memory_max_usage;
                this.nodeStatus = this.$services.nodes.status(this.node);

                if(this.nodeStatus.msg == 'Ok') {
                    var channel = this.$configs.SOCKET_CHANNELS.OS_MONITOR(this.$store.store.user, this.node.id);
                    this.$socketIO.on(channel, this.updateMonitorInfo);
                }
            });
        },

        methods: {
            toggleLiveInfo : function(){
                this.liveInfoShowing = !this.liveInfoShowing;
            },
            updateMonitorInfo : function (msg) {
                this.currentCPUUsage = msg.cpu_usage;
                this.currentMemoryUsage = msg.memory_usage;
                this.node.up_time = msg.up_time;

                if(msg.cpu_usage > this.node.cpu_max_usage)
                    this.node.cpu_max_usage = msg.cpu_usage;
                if(msg.memory_usage > this.node.memory_max_usage)
                    this.node.memory_max_usage = msg.memory_usage;
            }
        },

        components: {
            BaseInfoCard,
            PhysicalInformation,
            AppsInformation,
            LiveInformation
        }
    }
</script>

<style scoped>

</style>