<template>

    <div class="container-fluid">
        <search-bar v-on:search_finished="this.filterResults" :data="this.nodes" :filterBy="this.filterBy"></search-bar>
        <br/>

        <base-info-card v-for="n in this.showingNodes"
                        :node="n"
                        v-bind:data="n"
                        v-bind:key="n.id"
                        v-on:on_click="goToPage"></base-info-card>
    </div>

</template>

<script>
    import BaseInfoCard from '../modules/node/BaseInfoCard'
    import SearchBar from '../modules/SearchBar'

    export default {
        name: "nodes-monitor-page",

        data() {
            return {
                nodes: [],
                showingNodes: [],
                filterBy: ['name', 'os']
            }
        },

        mounted() {
            this.$services.nodes.list((nodes) => {
                this.nodes = nodes;
                this.showingNodes = this.nodes;
            });
        },
        methods: {
            filterResults(results) {
                this.showingNodes = results;
            },
            goToPage: function (nodeInfo) {
                this.$router.push({name: 'node', params: {id: nodeInfo.id}});
            }
        },
        components: {
            BaseInfoCard,
            SearchBar
        }
    }
</script>

<style scoped>

</style>