<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <br />

                <h2 class="text-capitalize text-info">Whoooops!!!</h2>
                <br />
                <h3 class="text-capitalize text-info">404  -  Page not found</h3>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "not-found-page"
    }
</script>

<style scoped>

</style>